@model Turnos.Models.TrnCalendarioFeriadoDetalle

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TrnCalendarioFeriadoDetalle</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaCompleto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaCompleto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HoraHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HoraHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.trnCalendarioFeriado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.trnCalendarioFeriado.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdDetalle">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
