@model IEnumerable<Turnos.Models.TrnCalendarioFeriadoDetalle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiaCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoraHasta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.trnCalendarioFeriado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiaCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraHasta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.trnCalendarioFeriado.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdDetalle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdDetalle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdDetalle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
