@model Turnos.Models.TrnBoca

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TrnBoca</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlanta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdPlanta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BocaEntrega)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BocaEntrega)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegmentoCantMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegmentoCantMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SegmentoCantPalletMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SegmentoCantPalletMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificaSobreposicionHoraria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificaSobreposicionHoraria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCitasSimultaneas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadCitasSimultaneas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiasPrevision)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiasPrevision)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoBocaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTipoBocaNavigation.Codigo)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrnCalendarioFeriadoCabeceraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrnCalendarioFeriadoCabeceraNavigation.IdCalendarioFeriado)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrnCalendarioplantaCabeceraNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrnCalendarioplantaCabeceraNavigation.IdCalendarioPlanta)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrnUsuariosBocaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrnUsuariosBocaNavigation.user_name)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBoca" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
