@model Turnos.Models.TrnCustomizacion

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Admin. Dias Laborables</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            planta
        </dt>
        <dd class="col-sm-10">
            @Model.IdPlanta
        </dd>
        <dt class="col-sm-2">
            Horario Mínimo
        </dt>
        <dd class="col-sm-10">
            @Model.HorarioMinimo.ToString("HH:mm")
        </dd>
        <dt class="col-sm-2">
            Horario Máximo
        </dt>
        <dd class="col-sm-10">
            @Model.HorarioMaximo.ToString("HH:mm")
        </dd>
        <dt class="col-sm-2">
            Obligatorio Cantidad Pallets
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EsObligatorioCantidadPallets)            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Empid">Editar</a> 
</div>
