@model IEnumerable<Turnos.Models.TrnCustomizacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Admin. Dias Laborables</h2>

<div id="mostrarBotonNuevo">
    <p>
        <a asp-action="Create">Nuevo</a>
    </p>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Planta
            </th>
            <th>
                Horario Mínimo
            </th>
            <th>
                Horario Máximo
            </th>
            <th>
               Obligatio Cantidad Pallets
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.IdPlanta
            </td>
            <td>
                @item.HorarioMinimo.ToString("HH:mm")
            </td>
            <td>
                @item.HorarioMaximo.ToString("HH:mm")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EsObligatorioCantidadPallets)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Empid">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Empid">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Empid">Borrar</a>
            </td>
        </tr>
        }
    </tbody>
</table>

