@model IEnumerable<Turnos.Models.TrnCustomizacion>

@{
    ViewData["Title"] = "Index";
}

<h2>Admin. Dias Laborables</h2>

<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HorarioMinimo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HorarioMaximo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiasLaborables)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioMinimo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HorarioMaximo)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.Empid">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Empid">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Empid">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
