@model Turnos.Models.TrnBoca

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro de eliminar la Boca de entrega?</h3>
<div>
    <h1>Boca de entrega</h1>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdPlanta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdPlanta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BocaEntrega)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BocaEntrega)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegmentoCantMin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegmentoCantMin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SegmentoCantPalletMax)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SegmentoCantPalletMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalendarioPlanta)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCalendarioPlanta)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCalendarioFeriado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCalendarioFeriado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VerificaSobreposicionHoraria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VerificaSobreposicionHoraria)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadCitasSimultaneas)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CantidadCitasSimultaneas)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsuarioResponsableBoca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsuarioResponsableBoca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdTipoBocaNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdTipoBocaNavigation.Codigo)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdBoca" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>
