@model Turnos.Models.TrnBoca

@{
    ViewData["Title"] = "Details";
}

<div>
    <h1>Boca de entrega</h1>
    <hr />
    <input type="hidden" id="codigocolor" asp-for="color" />
    <div class="table-responsive-sm">
        <table>
            <tbody>
                <tr>
                    <td>
                        Planta
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IdPlanta)
                    </td>
                </tr>
                <tr>
                    <td>
                        Color
                    </td>
                    <td>
                        <input style="width:100px" type="button" asp-for="color" class="form-control" id="colorboca" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Boca de Entrega
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.BocaEntrega)
                    </td>
                </tr>
                <tr>
                    <td>
                        Descripción
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Descripcion)
                    </td>
                </tr>
                <tr>
                    <td>
                        Estado
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Estado)
                    </td>
                </tr>
                <tr>
                    <td>
                        Minutos del segmento
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SegmentoCantMin)
                    </td>
                </tr>
                <tr>
                    <td>
                        Pallets maximo
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.SegmentoCantPalletMax)
                    </td>
                </tr>
                <tr>
                    <td>
                        Calendario de Planta
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TrnCalendarioplantaCabeceraNavigation.Descripcion)
                    </td>
                </tr>
                <tr>
                    <td>
                        Calendario de Feriados
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TrnCalendarioFeriadoCabeceraNavigation.Descripcion)
                    </td>
                </tr>
                <tr>
                    <td>
                        Sobreposicion horaria
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.VerificaSobreposicionHoraria)
                    </td>
                </tr>
                <tr>
                    <td>
                        Citas simultaneas
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CantidadCitasSimultaneas)
                    </td>
                </tr>
                <tr>
                    <td>
                        Días de prevision
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.DiasPrevision)
                    </td>
                </tr>
                <tr>
                    <td>
                        Usuario responsable
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.TrnUsuariosBocaNavigation.datosCompletos)
                    </td>
                </tr>
                <tr>
                    <td>
                        Tipo de boca
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.IdTipoBocaNavigation.Nombre)
                    </td>
                </tr>                
            </tbody>
        </table>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdBoca">Editar</a>
</div>


@section Scripts {

    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-colorpicker/2.5.3/js/bootstrap-colorpicker.js"></script>

    <script>
        $(document).ready(function () {
            $('#colorboca')[0].style.backgroundColor = $("#codigocolor").val();
            $('#colorboca')[0].style.color = $("#codigocolor").val();
            $('#codigocolor').val($("#codigocolor").val());
            $('#colorboca').style.backgroundColor = $("#colorboca").val();


        });

    </script>
}
