@model IEnumerable<Turnos.Models.TrnBoca>

@{
    ViewData["Title"] = "Index";
}

<h1>Administración de Bocas de Entrega</h1>

<p>
    <a asp-action="Create">Crear Nueva Boca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th nowrap>
                Boca de Entrega
            </th>
            <th>
                Descripción
            </th>
            <th>
                Estado
            </th>               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BocaEntrega)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>            
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlanta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlanta">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlanta">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
