@model IEnumerable<Turnos.Models.TransporteTipo>

@{
    ViewData["Title"] = "Index";
}

<h1>Tipo de Transporte</h1>

<p>
    <a asp-action="Create">Crear nuevo Tipo Transporte</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdTransporteTipo">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdTransporteTipo">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.IdTransporteTipo">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
