@model Turnos.Models.TrnCalendarioPlanta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="row">        
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunesActivo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.CheckBoxFo(model => model.LunesActivo == "S" ? true : false, new { @checked = "checked" })*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunesDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunesDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LunesHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LunesHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MartesActivo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.CheckBoxFor(model => model.MartesActivo == "S" ? true : false)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MartesDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MartesDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MartesHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MartesHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiercolesActivo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.CheckBoxFor(model => model.MiercolesActivo == "S" ? true : false)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiercolesDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiercolesDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MiercolesHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MiercolesHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuevesActivo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.CheckBoxFor(model => model.JuevesActivo == "S" ? true : false)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuevesDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuevesDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.JuevesHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JuevesHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViernesActivo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.CheckBoxFor(model => model.ViernesActivo == "S" ? true : false)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViernesDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViernesDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ViernesHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ViernesHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SabadoActivo)
        </dt>
        <dd class="col-sm-10">
            @*@Html.CheckBoxFor(model => model.SabadoActivo == "S" ? true : false)*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SabadoDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SabadoDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SabadoHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SabadoHasta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomingoActivo)
        </dt>
        <dd class="col-sm-10">
           @* @Html.CheckBoxFor(model => model.DomingoActivo == "S" ? true : false, new { @checked = "checked" })*@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomingoDesde)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomingoDesde)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomingoHasta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomingoHasta)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdCalendarioPlanta">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>
