@model IEnumerable<Turnos.Models.TrnCalendarioPlanta>

@{
    ViewData["Title"] = "Index";
}

<h1>Administración de Calendario de Planta</h1>

<p>
    <a asp-action="Create">Crear nuevo calendario</a>
</p>
<table class="table">
    <thead>
        <tr> 
            <th>
                @Html.DisplayNameFor(model => model.CalendarioPlanta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>       
            <td>
                @Html.DisplayFor(modelItem => item.CalendarioPlanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCalendarioPlanta">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCalendarioPlanta">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCalendarioPlanta">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
